@import 'tailwindcss';

body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

.skeleton::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(105deg, transparent 40%, #f3f4f6 50%, transparent 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite ease-in;
}

@keyframes shimmer {
    0% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: -100%;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background: transparent;
    }
}
